*{
    border: 1px solid rgb(255, 0, 0);
    }



body{
    margin: 0;
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1f2937;
    color: #f8faf8;
}

.header-links{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

header h1{
    margin-left: 1rem;
    font-size: 24px;
    color: #f9faf8;
}

header a {
    text-decoration: none;
    color: #f9faf8;
  }
  
.main-container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 1rem;;
    align-items: center;
    color: #f9faf8;
    padding: 50px;
    
  }
  
.main-content{
    
    flex-basis: 35%;
    

}

h2{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;;
    margin-top: 0;
}

.main-content p{
    margin-bottom: 5px;
    margin-top: 0;;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}



h3{
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}

.info-container{
    display: flex;
    flex-direction: column;
    max-width: 13%;
}

.info-master{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.info-container img{
    border: 6px solid #3882f6;
    border-radius: 10px;
}

.info-container p{
    text-align: center;
margin: auto;
justify-self: flex-end;
}

.testimonial{
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

p.testimonial-text{
    color:#1f2937;
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    width: 60%;
    margin: auto;
  
}

.author{
    justify-self: flex-end;
    text-align: end;

    margin-right: 20%;
    font-weight: bold;
}

footer{
    
}